.blog {
  margin-top: 20px;
  min-height: 800px;

  > .post {
    margin-bottom: 10px;
  }

  > .post > .date {
    width: 130px;
    display: inline-block;
    font-size: 20px;
    color: #6d6d6d;
  }

  > .post > a {
    font-size: 26px;
  }
}

.post {
  > svg {
    width: 100%;
  }
}