@import "terminal";

header.-home {
  .container {
    position: relative;
    padding: 50px 0 100px;
    margin: 0;
    max-width: none;

    h1 {
      margin: 0 0 80px;
      text-align: center;
    }

    @include mobile {
      padding: 150px 30px 20px;
    }
  }
}

.getting-started {
  @include content;

  h2 {
    font-size: 38px;
    text-align: center;
  }

  .download {
    text-align: center;
  }

  .download-link {
    display: inline-block;
    margin-top: 5px;
  }

  .github-stars {
    text-align: center;
    margin-top: 30px;
  }
}

.features {
  @include content;

  h2 {
    font-size: 38px;
    text-align: center;
  }
}

.builtin {
  @include content;

  h2 {
    font-size: 38px;
    text-align: center;
  }

  .cell {
    text-align: center;
    align-self: center;
  }

  .cell > img {
    max-width: 120px;
    max-height: 120px;
  }
}

.stickers {
  @include content;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    font-size: 38px;
    text-align: center;
  }

  .sticker {
    display: inline-block;
    margin-left: 15px;

    a {
      text-decoration: none;
      display: block;
    }

    .sticker-buy {
      display: inline-block;
      margin-top: 10px;
    }

    img {
      width: 150px;
    }
  }
}
