@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
    background: #444444;
}

a {
    color: #C72525;
}

a:hover {
    color: #91170a;
}

code {
    color: #272822;
    background: #f8f8f2;
}

header {
    position: relative;
    color: #ffffff;
    background-color: #4183c4;
    padding-bottom: 15px;
}

header h1,
header h2 {
    font-family: 'Lobster', cursive;
    color: inherit;
    text-align: center;
}

header h1 a,
header h1 a:hover {
    color: white;
    text-decoration: none;
}

#nav-button {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.terminal {
    max-width: 800px;
    margin: 0 auto;
}

.toolbar {
    background-color: #efedee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efedee), to(#c1c1c1));
    background-image: -webkit-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -moz-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -ms-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -o-linear-gradient(top, #efedee, #c1c1c1);
    background-image: linear-gradient(top, #efedee, #c1c1c1);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #6287A4;
    border-bottom: 0;
    height: 30px;
    margin-top: 20px;

    color: #000;
    display: block;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    position: relative;
}

.toolbar i {
    position: absolute;
    top: 8px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.toolbar i:hover {
    opacity: 0.5;
}

.toolbar i.x {
    left: 10px;
    background-color: #F0725E;
}

.toolbar i.minus {
    left: 30px;
    background-color: #F8BD33;
}

.toolbar i.plus {
    left: 50px;
    background-color: #5EC034;
    /* For bonus */
    background-position: center center;
    background-size: 450%;
}

.toolbar img {
    vertical-align: text-bottom;
    margin-right: 10px;
}

.code {
    font-family: monospace;
    background-color: #424242;
    color: #ffffff;
    padding: 20px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: hidden;
}

.code .console {
    white-space: pre;
}

.code .console i {
    font-style: normal;
    color: #2FDB2F;
}

.code form {
    display: table;
}

.code label {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    font-weight: normal;
}

.code .input {
    display: table-cell;
    width: 100%;
}

.code input {
    background: transparent;
    width: 100%;
    margin-left: 8px;
    border: none;
    outline: none;
    font-weight: normal;
    padding: 0;
}

.autocomplete .repeat {
    margin-left: 8px;
}

.autocomplete .guess {
    color: #a9a9a9;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F3EFE0;
}

section h2:first-child {
    margin-top: 0;
}

section h2:not(:first-child) {
    margin-top: 50px;
}

section h4 {
    margin-top: 40px;
}

section.features .row {
    max-width: 1000px;
    margin: 5px auto;
}

section.features h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 0;
}

section.features .lead {
    text-align: center;
}

section.features .next {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
}

section.features .download {
    text-align: center;
}

section.features .download-link {
    display: block;
    text-align: center;
    margin-top: 5px;
}

section.features ul {
    list-style: none;
}

section.features li {
    clear: both;
    margin-top: 10px;
}

section.features img {
    width: 44px;
    height: 44px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

section.getting-started {
    color: #ffffff;
    background: #4183c4;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22160%22%20height%3D%2215%22%20viewBox%3D%220%200%20160%2015%22%20preserveAspectRatio%3D%22xMinYMin%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-opacity%3D%220.3%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%200.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0-4.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0-9.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0%205.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0%2010.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #4183c4 0, #2fccc0 100%);
    padding-top: 150px;
    padding-bottom: 150px;
}

section.getting-started .btn-primary {
    font-family: 'Lobster', cursive;
    font-size: 26px;
    background: transparent;
    color: white;
    border-color: white;
}

section.getting-started .btn-primary:hover {
    background: #ffffff;
    color: #37A8C2;
    transition: all .5s ease-in;
}

section.support h2 {
    font-family: 'Lobster', cursive;
}

section.twitter {
    background: #2fccc0;
    overflow: hidden;
    white-space: nowrap;
}

section.twitter .twit {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

section.stickers {
    border-bottom: 30px #2fccc0 solid;
}

section.stickers h2 {
    font-family: 'Lobster', cursive;
}

section.stickers .stickers-list {
    display: flex;
    padding: 20px;
}

section.stickers .sticker {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

section.stickers .sticker img {
    width: 149px;
    height: 118px;
}

section.stickers .sticker-buy {
    align-self: center;
    margin-top: 10px;
    width: 110px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: #4183c4;
    border-color: #4183c4;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22160%22%20height%3D%2215%22%20viewBox%3D%220%200%20160%2015%22%20preserveAspectRatio%3D%22xMinYMin%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%234183c4%22%20stroke-opacity%3D%220.3%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%200.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0-4.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0-9.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0%205.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14M0%2010.5c26.7%200%2053.3%2014%2080%2014%2026.7%200%2053.3-14%2080-14%22%2F%3E%3C%2Fsvg%3E");
}


.docs-bottom-nav {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
    .terminal {
        display: none;
    }

    header {
        height: auto;
    }
}

.nav li a {
    padding: 6px 8px;
    background-color: transparent;
    border-left: solid 2px transparent;
}

.nav li a:hover {
    background-color: transparent;
    border-left: solid 2px #91170a;
}

.nav .nav li a {
    padding-left: 20px;
    font-size: 90%;
}

footer {
    margin-top: 50px;
    padding-bottom: 20px;
    background: #F3EFE0;
}

pre {
    background-color: #272822;
    color: #ffffff;
    border: none;
}

p, blockquote {
    font-size: 17px;
}

blockquote {
    border: none;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #E0DCCA;
}

ul.download-list .highlighted {
    font-weight: 700;
    font-size: 18px;
}
