{% extends 'layout.twig' %}

{% block header %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="docs">
        <div class="nav">
            {{ menu|raw }}
            <small>
                <a class="edit-this" href="https://github.com/deployphp/docs/edit/master/{{ page }}.md">Edit this page</a>
            </small>
        </div>

        <div class="page">
            {{ content|raw }}
            <div class="docs-bottom-nav"></div>
        </div>
    </div>
{% endblock %}
