{% extends 'layout.twig' %}

{% if title is empty %}
    {% set title = 'Recipes' %}
{% endif %}

{% block content %}
    <div class="docs">
        <div class="nav">
            <ul class="">
                {% for a in nav %}
                    <li>
                        <a href="{{ a.link }}">{{ a.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="page">
            {{ content|raw }}
        </div>
    </div>
{% endblock %}

