{% extends 'layout.twig' %}
{% set title = 'Support' %}

{% block content %}
    <div class="container">
        <p>
            <a href="mailto:support@deployer.org">Write to us</a>
        </p>
    </div>
{% endblock %}

