{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-2 visible-lg-block">
            {{ menu|raw }}
            <small>
                Found a typo? Is something wrong in this documentation?<br>
                Just <a href="https://github.com/deployphp/docs">fork and edit</a> it!
            </small>
        </div>

        <div class="col-md-10">
            {{ content|raw }}
            <div id="bottom-nav"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            var current = $('.nav').find('a[href^="' + location.pathname + '"]').eq(0).parents('li'),
                next = current.next().find('a'),
                prev = current.prev().find('a'),
                nav = [];

            if (prev.length) {
                nav.push('← ' + prev[0].outerHTML);
            }
            
            if (next.length) {
                nav.push(next[0].outerHTML + ' →');
            }

            $('#bottom-nav').append(nav.join(' &amp; '));
        });
    </script>
{% endblock %}
