{% extends 'layout.twig' %}

{% set title = 'Deployment Tool for PHP' %}

{% block header %}
    <div class="terminal">
        <div class="toolbar">
            <i class="x"></i>
            <i class="minus"></i>
            <i class="plus"></i>
            <img src="/assets/img/home.png" alt="">TryDeployer &mdash; 800x300
        </div>
        <div class="code">
            <div class="console">Press enter to submit commands.<br></div>
            <form id="console">
                <label for="input">$</label>

                <div class="input">
                    <input type="text" value="" tabindex="1">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block section %}
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>What is Deployer?</h2>
                    <div class="lead">
                        <em>Deployer</em> is a deployment tool written in PHP.
                    </div>
                    <div class="download">
                        <a href="/deployer.phar" onclick="ga('send', 'event', 'button', 'download', 'index');" class="btn btn-danger btn-lg">Download deployer.phar ({{ latest_deployer_version }})</a>
                    </div>
                    <a href="/download" class="download-link">or download a different version</a>
                    <div class="next">
                        And run the following commands in the console:
                    </div>
                    {% include 'installation.twig' %}
                    <div class="next">
                        Or you can install it with composer:
                    </div>
                    {% include 'installation.twig' with {type: 'composer'} %}
                    <div class="next">
                        <a class="github-button" href="https://github.com/deployphp/deployer" data-style="mega" data-count-href="/deployphp/deployer/stargazers" data-count-api="/repos/deployphp/deployer#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star deployphp/deployer on GitHub">Star</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="github-button" href="https://github.com/deployphp/deployer/fork" data-style="mega" data-count-href="/deployphp/deployer/network" data-count-api="/repos/deployphp/deployer#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork deployphp/deployer on GitHub">Fork</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Deployer Features</h2>
                    <ul>
                        <li><img src="/assets/icons/fast.png"><strong>Fast</strong> Deployer is packed with time-saving features and optimisations, best for performance and development.</li>
                        <li><img src="/assets/icons/modular.png"><strong>Modular</strong> Create your own deployment script based on our modular blocks called "recipes". You can find common recipes <a href="https://github.com/deployphp/deployer/tree/master/recipe">here</a> and 3rd party ones <a href="https://github.com/deployphp/recipes">here</a>.</li>
                        <li><img src="/assets/icons/cleancode.png"><strong>Clean code</strong> Deployer has a very clean and well tested code. The repository is watched by many code quality tools, and every pull request is also checked by QA tools.</li>
                        <li><img src="/assets/icons/rollback.png"><strong>Rollbacks</strong> If something is wrong, a simple rollback to the previous release is possible.</li>
                        <li><img src="/assets/icons/atomic.png"><strong>Atomic deploys</strong> Prepare codebase, warm cache, do other stuff, and then deploy them with symlinks!</li>
                        <li><img src="/assets/icons/parallel.png"><strong>Parallel tasks</strong> Deployer can run tasks in parallel, no other extension is required!</li>
                        <li><img src="/assets/icons/consistency.png"><strong>Consistency</strong> Deployer keeps consistency between servers, even in parallel mode! If one task fails, subsequent tasks will not be executed on all servers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="getting-started">
        <div class="container text-center">
            <a class="btn btn-lg btn-primary" href="/docs">Getting Started</a>
        </div>
    </section>

    <section class="donate">
        <div class="container">
            <h2>Help make Deployer awesome!</h2>

            <p>If Deployer is useful to you or your team, please consider supporting it!</p>
        </div>
    </section>

    <section class="twitter">
        <marquee>
            <div class="twit"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/w4Y9FTEebv">http://t.co/w4Y9FTEebv</a>: Deployment tool for <a href="https://twitter.com/hashtag/PHP?src=hash">#PHP</a> projects. It includes recipes for popular frameworks like <a href="https://twitter.com/hashtag/Symfony?src=hash">#Symfony</a>, <a href="https://twitter.com/hashtag/Laravel?src=hash">#Laravel</a>, <a href="https://twitter.com/hashtag/ZF?src=hash">#ZF</a> and more</p>&mdash; ServerGrove Networks (@servergrove) <a href="https://twitter.com/servergrove/status/626318503809826816">29 July 2015</a></blockquote></div>
            <div class="twit"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/PHP?src=hash">#PHP</a> <a href="https://twitter.com/hashtag/Deployer?src=hash">#Deployer</a> saved me weeks of work on a deployment software 4 a <a href="https://twitter.com/hashtag/CakePHP?src=hash">#CakePHP</a> app. Thx to all project contributors (<a href="http://t.co/41fjMAg08D">http://t.co/41fjMAg08D</a>)</p>&mdash; Ayman R. Bedair (@aymanrb) <a href="https://twitter.com/aymanrb/status/620650148947996677">13 July 2015</a></blockquote></div>
            <div class="twit"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Deployer: A php version of Capistrano <a href="http://t.co/tfY4ED3tri">http://t.co/tfY4ED3tri</a></p>&mdash; SergeiF (@SergeiFilippov) <a href="https://twitter.com/SergeiFilippov/status/612794783086477312">22 June 2015</a></blockquote></div>
            <div class="twit"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Deployer, a deployment tool for PHP. Happy user here! <a href="http://t.co/MrYvDqVnOF">http://t.co/MrYvDqVnOF</a></p>&mdash; Danny van Kooten (@DannyvanKooten) <a href="https://twitter.com/DannyvanKooten/status/603129566027259904">26 May 2015</a></blockquote></div>
        </marquee>
    </section>
{% endblock %}

{% block script %}
    <script src="/assets/lib/autocomplete.js"></script>
    <script src="/assets/lib/console.js"></script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
