{% extends 'layout.twig' %}

{% set title = 'Deployment Tool for PHP' %}

{% block header %}
    <div class="terminal">
        <div class="toolbar">
            <i class="x"></i>
            <i class="minus"></i>
            <i class="plus"></i>
            <img src="/assets/img/home.png" alt="">TryDeployer &mdash; 800x300
        </div>
        <div class="code">
            <div class="console">Press enter to submit commands.<br></div>
            <form id="console">
                <label for="input">$</label>

                <div class="input">
                    <input type="text" value="" tabindex="1">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block section %}
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>What is Deployer?</h2>
                    <div class="lead">
                        <em>Deployer</em> is deployment tool written in PHP.
                    </div>
                    <div class="download">
                        <a href="/deployer.phar" class="btn btn-danger btn-lg">Download deployer.phar</a>
                    </div>
                    <div class="next">
                        And run next commands in console:
                    </div>
                    <pre><code>mv deployer.phar /usr/local/bin/dep
chmod +x /usr/local/bin/dep</code></pre>
                    <div class="next">
                        Or you can install it with composer:
                    </div>
                    <pre><code>composer require deployer/deployer:~3.0</code></pre>
                </div>
                <div class="col-md-6">
                    <h2>Deployer Features</h2>
                    <ul>
                        <li><img src="/assets/icons/fast.png"><strong>Fast</strong> Deployer packed full of time-saving features and optimisations, best for performance and development.</li>
                        <li><img src="/assets/icons/modular.png"><strong>Modular</strong> Create your deploy script from our modular blocks called recipies. You can find common recipes <a href="https://github.com/deployphp/deployer/tree/master/recipe">here</a> and 3th party recipes <a href="https://github.com/deployphp/recipes">here</a>.</li>
                        <li><img src="/assets/icons/cleancode.png"><strong>Clean code</strong> Deployer has very clean code and good tested. Repository is watched by many code quality tools, every pull request also checked by QA tools.</li>
                        <li><img src="/assets/icons/rollback.png"><strong>Rollbacks</strong> If something is wrong, a simple rollback to previous release is possible.</li>
                        <li><img src="/assets/icons/atomic.png"><strong>Atomic deploys</strong> Prepare codebase, warm cache, do other stuff, and then deploy them with symlinks!</li>
                        <li><img src="/assets/icons/parallel.png"><strong>Parallel tasks</strong> Deployer can run tasks in parallel, no other extension is required!</li>
                        <li><img src="/assets/icons/consistency.png"><strong>Consistency</strong> Deployer keeps consistency between servers, even in parallel mode! If one task fails, subsequent tasks will not be executed on all servers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="getting-started">
        <div class="container text-center">
            <a class="btn btn-lg btn-primary" href="/docs">Getting Started</a>
        </div>
    </section>

    <section class="donate">
        <div class="container">
            <h2>Donate to project</h2>

            <p>If Deployer is useful to you or your team, please consider supporting it! </p>

            <div class="row">
                <div class="col-md-4 text-center">
                    <script data-gratipay-username="elfet" src="//grtp.co/v1.js"></script>
                </div>
                <div class="col-md-4 text-center">
                    <script id='fbbp431'>(function (i) {
                            var f, s = document.getElementById(i);
                            f = document.createElement('iframe');
                            f.src = '//api.flattr.com/button/view/?uid=elfet&url=' + encodeURIComponent(document.URL);
                            f.title = 'Flattr';
                            f.height = 62;
                            f.width = 55;
                            f.style.borderWidth = 0;
                            s.parentNode.insertBefore(f, s);
                        })('fbbp431');</script>
                </div>
                <div class="col-md-4 text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="M3EGQFZRNH4AQ">
                        <button class="btn btn-info" type="submit"><img
                                    src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></button>
                    </form>
                </div>
            </div>
            <div class="yandex-money text-center" style="display: none;">
                <iframe frameborder="0" allowtransparency="true" scrolling="no"
                        src="https://money.yandex.ru/embed/donate.xml?account=410012600176784&quickpay=donate&payment-type-choice=on&default-sum=100&targets=%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0+Deployer&project-name=Deployer&project-site=http%3A%2F%2Fdeployer.org&button-text=05&successURL=http%3A%2F%2Fdeployer.org"
                        width="508" height="105"></iframe>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="/assets/lib/autocomplete.js"></script>
    <script src="/assets/lib/console.js"></script>
    <script>
        $(function () {
            var language = window.navigator.userLanguage || window.navigator.language;

            if (language === 'ru') {
                $('.yandex-money').show();
            }
        });
    </script>
{% endblock %}
