{% extends 'layout.twig' %}

{% set title = 'Deployment Tool for PHP' %}

{% block header %}
    <div class="terminal">
        <div class="toolbar">
            <i class="x"></i>
            <i class="minus"></i>
            <i class="plus"></i>
            <img src="/assets/img/home.png" alt="">TryDeployer &mdash; 800x300
        </div>
        <div class="code">
            <div class="console">Press enter to submit commands.<br></div>
            <form>
                <label for="input">&gt;</label>

                <div class="input">
                    <input type="text" value="" id="input">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block section %}
    <section>
        <div class="container">
            <div class="row features">
                <div class="col-md-4">
                    <img src="/assets/icons/fast.png" class="feature-icon">
                    <h2>Fast</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/modular.png" class="feature-icon">
                    <h2>Modular</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/powerful.png" class="feature-icon">
                    <h2>Powerful</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
            </div>

            <div class="row features">
                <div class="col-md-4">
                    <img src="/assets/icons/quickly.png" class="feature-icon">
                    <h2>Get setup quickly</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/productivity.png" class="feature-icon">
                    <h2>Increase productivity</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/intuitive.png" class="feature-icon">
                    <h2>Intuitive setup</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
            </div>

            <div class="row features">
                <div class="col-md-4">
                    <img src="/assets/icons/atomic.png" class="feature-icon">
                    <h2>Atomic deploys</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/parallel.png" class="feature-icon">
                    <h2>Parallel tasks</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/icons/consistency.png" class="feature-icon">
                    <h2>Consistency</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="getting-started">
        <div class="container text-center">
            <a class="btn btn-lg btn-primary" href="/docs">Getting Started</a>
        </div>
    </section>
{% endblock %}
